@reference 'tailwindcss';

.app {
  @apply flex h-screen w-screen overflow-hidden;
}

.sidebar {
  @apply flex grow flex-col justify-between gap-4 border p-4;
}

@media (min-width: 768px) {
  .sidebar {
    @apply max-w-80;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    @apply max-w-96;
  }
}

.sidebar-header {
  @apply min-h-24 border;
}

.sidebar-main {
  @apply h-full border;
}

.sidebar-section-starred {
  @apply h-1/3 border;
}

.sidebar-section-characters {
  @apply h-2/3 border;
}

.main-content {
  @apply hidden grow border;
}

@media (min-width: 768px) {
  .main-content {
    @apply block;
  }
}
