@reference 'tailwindcss';

.app {
  @apply flex h-dvh overflow-hidden;
}

.sidebar {
  @apply bg-gray/5 flex h-full w-full flex-col overflow-hidden;
}

@media (min-width: 768px) {
  .sidebar {
    @apply max-w-80;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    @apply max-w-96;
  }
}

.sidebar-header {
  @apply flex shrink-0 flex-col gap-5 px-5 pt-8 pb-4;
}

.sidebar-main {
  @apply flex flex-1 flex-col gap-6 overflow-x-hidden overflow-y-auto px-5 pb-8;
}

.sidebar-section {
  @apply relative flex min-h-28 flex-col;
}

.sidebar-section-starred {
  @apply shrink-0 max-h-80 overflow-y-auto;
}

.sidebar-section-characters {
  @apply min-h-52 flex-1;
}

.main {
  @apply hidden grow overflow-y-scroll bg-white;
}

.main-visible {
  @apply fixed inset-0 z-50 block;
}

.main-content {
  @apply relative mx-auto h-full w-full max-w-11/12 px-5 pt-8;
}

@media (min-width: 768px) {
  .main {
    @apply block;
  }

  .main-visible {
    @apply relative z-auto;
  }

  .main-content {
    @apply px-8;
  }
}
