@reference 'tailwindcss';

.app {
  @apply flex h-screen w-screen overflow-hidden;
}

.sidebar {
  @apply bg-primary-100/20 flex grow flex-col justify-between gap-4 p-4 pt-8;
}

@media (min-width: 768px) {
  .sidebar {
    @apply max-w-80;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    @apply max-w-96;
  }
}

.sidebar-header {
  @apply min-h-24;
}

.sidebar-main {
  @apply h-full;
}

.sidebar-section-starred {
  @apply h-1/3;
}

.sidebar-section-characters {
  @apply h-2/3;
}

.main-content {
  @apply hidden grow;
}

@media (min-width: 768px) {
  .main-content {
    @apply block;
  }
}
