@reference 'tailwindcss';

.app {
  @apply flex h-dvh overflow-hidden;
}

.sidebar {
  @apply h-full w-full bg-gray/5 flex flex-col overflow-hidden;
}

@media (min-width: 768px) {
  .sidebar {
    @apply max-w-80;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    @apply max-w-96;
  }
}

.sidebar-header {
  @apply flex flex-col gap-5 px-5 pt-8 pb-4 shrink-0;
}

.sidebar-main {
  @apply flex flex-col gap-6 overflow-y-auto overflow-x-hidden px-5 pb-8 flex-1;
}

.sidebar-section {
  @apply flex flex-col relative min-h-52;
}

.sidebar-section-characters {
  @apply flex-1 min-h-52;
}

.main {
  @apply hidden grow overflow-y-scroll bg-white;
}

.main-content {
  @apply relative mx-auto h-full w-full max-w-11/12 pt-8 px-5;
}

@media (min-width: 768px) {
  .main {
    @apply block;
  }
  
  .main-content {
    @apply px-8;
  }
}
