@reference 'tailwindcss';

.app {
    @apply flex h-screen w-screen overflow-hidden;
}

.sidebar {
    @apply flex flex-col gap-4 justify-between p-4 grow border;
}

@media (min-width: 768px) {
    .sidebar {
        @apply max-w-80;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        @apply max-w-96;
    }
}

.sidebar-header {
    @apply border min-h-24;
}

.sidebar-main {
    @apply border h-full;
}

.sidebar-section-starred {
    @apply border h-1/3;
}

.sidebar-section-characters {
    @apply border h-2/3;
}

.main-content {
    @apply hidden grow border;
}

@media (min-width: 768px) {
    .main-content {
        @apply block;
    }
}