@reference 'tailwindcss';

.app {
  @apply flex h-dvh w-screen overflow-hidden md:h-screen;
}

.sidebar {
  @apply bg-gray/5 flex grow flex-col justify-between gap-4 p-4 pt-8;
}

@media (min-width: 768px) {
  .sidebar {
    @apply max-w-80;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    @apply max-w-96;
  }
}

.sidebar-header {
  @apply min-h-24;
}

.sidebar-main {
  @apply h-[calc(100%-6rem)] pb-10;
}

.sidebar-section-starred {
  @apply h-1/3;
}

.sidebar-section-characters {
  @apply h-2/3 space-y-5;
}

.main {
  @apply hidden grow overflow-y-scroll;
}

.main-content {
  @apply relative mx-auto h-full w-full max-w-4/5 pt-8;
}

@media (min-width: 768px) {
  .main {
    @apply block;
  }
}
