@import 'tailwindcss';

/* Import estilos de componentes custom */
@import './App.css';

/* Import utilidades */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fuentes */
  --font-primary: var(--font-family);

  /* Colores */
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-gray: var(--color-gray);
  --color-primary-100: var(--primary-100);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-secondary-600: var(--secondary-600);
}

:root {
  /* Fuentes */
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Colores */
  /* General */
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgba(33, 53, 71, 1);

  /* Primarios */
  --primary-100: rgba(238, 227, 255, 1);
  --primary-600: rgba(128, 84, 199, 1);
  --primary-700: rgba(90, 54, 150, 1);

  /* Secundarios */
  --secondary-600: rgba(99, 216, 56, 1);

  color-scheme: light;
  color: rgba(33, 53, 71, 1);
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
